# navigation
alias zshconfig="code ~/.zshrc"
alias ohmyzsh="code ~/.oh-my-zsh"
alias workspace="cd ~/workspace"
alias github="cd ~/workspace/github"
alias p="cd ~/workspace"

# general
alias ll="ls -la"
alias g="git"
alias h="history"

# nodejs
alias nb="npm run build"
alias nt="npm test"
